/* Main style project */
@import "bourbon"
@import "vars"
@import "libs"
@import "media"


body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden;
	opacity: 1
html
	background: #fff
h1, h2
    font-size: 3em
    font-family: Segoeui-ligth
#my-content
        background-color: #eaf0f1
.is-home
	.site-header
		min-height: 1300px
		height: 100vh
		background-color: #000
		background-position: center center
		z-index: 0
		.top-line
			position: absolute
			padding-top: 27px
			width: 100%
			z-index: 1
.logo
	img
		width: 235px
		height: auto
		margin-left: 90px
section, header
	position: relative
	background-size: cover
	background-position: center
.top-composition

.link-menu
	top: 6px
	position: relative
	right: 155px
	float: right
	li
		a
			color: $blue
.in-left-menu
    -webkit-animation: menu-animation 0.5s linear forwards
    animation: menu-animation 0.5s linear forwards
@-webkit-keyframes menu-animation 
    0% 
    	right: 150px
    10% 
    	right: 163px
    20% 
    	right: 176px
    30% 
    	right: 190px
    40% 
    	right: 203px
    50% 
    	right: 216px
    60% 
    	right: 230px
    70% 
    	right: 243px
    80% 
    	right: 260px
    90% 
    	right: 275px
    100% 
    	right: 280px
@keyframes menu-animation
    0% 
    	right: 150px
    10% 
    	right: 163px
    20% 
    	right: 176px
    30% 
    	right: 190px
    40% 
    	right: 203px
    50% 
    	right: 216px
    60% 
    	right: 230px
    70% 
    	right: 243px
    80% 
    	right: 260px
    90% 
    	right: 275px
    100% 
    	right: 280px
.in-right-menu
	-webkit-animation: menu-right-animation 0.5s linear forwards
    animation: menu-right-animation 0.5s linear forwards
    display: none
@-webkit-keyframes menu-right-animation
    0% 
    	right: 280px
    10% 
    	right: 275px
    20% 
    	right: 260px
    30% 
    	right: 243px
    40% 
    	right: 230px
    50% 
    	right: 216px
    60% 
    	right: 203px
    70% 
    	right: 190px
    80% 
    	right: 176px
    90% 
    	right: 163px
    100% 
    	right: 150px
@keyframes menu-right-animation
    0% 
    	right: 280px
    10% 
    	right: 275px
    20% 
    	right: 260px
    30% 
    	right: 243px
    40% 
    	right: 230px
    50% 
    	right: 216px
    60% 
    	right: 203px
    70% 
    	right: 190px
    80% 
    	right: 176px
    90% 
    	right: 163px
    100% 
    	right: 150px
    	
.hiring-link, .portal-link, .contact-us
	font-family: Segoeui
	top: 44px
	font-size: 16px
	white-space: nowrap //!!!!!!!!for small screen
	display: inline-block
	padding: 10px 20px 7px 20px
	text-transform: uppercase
.contact-us
	border: 2px solid $blue
	border-radius: 37px
	padding: 10px 15px 12px 15px
    height: 45px
.hamburger
	position: absolute
	right: 5px
	top: 28px
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
    height: 4px
    background-color: $blue
    position: absolute
    bottom: 10px
    border-radius: 1px
    -webkit-border-radius: 1px
    width: 30px
    margin-bottom: 2px
.in-left
	-webkit-animation: left-animation 0.5s linear forwards
    animation: left-animation 0.5s linear forwards
@-webkit-keyframes left-animation 
    0% 
    	right:  0
    10% 
    	right: 14px
    20% 
    	right: 26px
    30% 
    	right: 40px
    40% 
    	right: 53px
    50% 
    	right: 66px
    60% 
    	right: 80px
    70% 
    	right: 94px
    80% 
    	right: 106px
    80% 
    	right: 120px
    100% 
    	right: 135px
@keyframes left-animation 
    0% 
    	right:  0
    10% 
    	right: 14px
    20% 
    	right: 26px
    30% 
    	right: 40px
    40% 
    	right: 53px
    50% 
    	right: 66px
    60% 
    	right: 80px
    70% 
    	right: 93px
    80% 
    	right: 106px
    80% 
    	right: 120px
    100% 
    	right: 135px
.in-right
	-webkit-animation: right-animation 0.5s linear forwards
    animation: right-animation 0.5s linear forwards
@-webkit-keyframes right-animation
    0% 
    	right: 135px
    10% 
    	right: 122px
    20% 
    	right: 107px
    30% 
    	right: 93px
    40% 
    	right: 80px
    50% 
    	right: 66px
    60% 
    	right: 53px
    70% 
    	right: 33px
    80% 
    	right: 26px
    80% 
    	right: 14px
    100% 
    	right:  0
    
@keyframes right-animation
    0% 
    	right: 135px
    10% 
    	right: 122px
    20% 
    	right: 107px
    30% 
    	right: 93px
    40% 
    	right: 80px
    50% 
    	right: 66px
    60% 
    	right: 53px
    70% 
    	right: 33px
    80% 
    	right: 26px
    80% 
    	right: 14px
    100% 
    	right:  0
.render-menu
	display: block !important
#my-menu
    ul
        line-height: 50px
        padding-top: 0
        li
            background-color: #fff
            width: 200px
            height: 50px
            text-align: center
            vertical-align: middle;
            cursor: pointer
            a
                color: $blue
            a:hover
                color: #1ca4bf
        .active
            width: 100%
            background-color: $blue
            a
                color: #fff
#my-menu
    right: -201px;
    position: absolute
    top: 34px
    z-index: 2
    display: none
.show-menu
    display: block !important
    -webkit-animation: show-menu 0.5s linear forwards
    animation: show-menu 0.5s linear forwards
@-webkit-keyframes show-menu 
    0% 
    	right: -200px
    10% 
    	right: -180px
    20% 
    	right: -160px
    30% 
    	right: -140px
    40% 
    	right: -120px
    50% 
    	right: -100px
    60% 
    	right: -80px
    70% 
    	right: -60px
    80% 
    	right: -40px
    80% 
    	right: -20px
    100% 
    	right: 0px
@keyframes show-menu  
    0% 
    	right:  -200px
    10% 
    	right: -180px
    20% 
    	right: -160px
    30% 
    	right: -140px
    40% 
    	right: -120px
    50% 
    	right: -100px
    60% 
    	right: -80px
    70% 
    	right: -60px
    80% 
    	right: -40px
    80% 
    	right: -20px
    100% 
    	right: 0px
.close-menu
	-webkit-animation: close-menu 0.5s linear forwards
    animation: close-menu 0.5s linear forwards
@-webkit-keyframes close-menu 
    0% 
    	right:  0px
    10% 
    	right: -20px
    20% 
    	right: -40px
    30% 
    	right: -60px
    40% 
    	right: -80px
    50% 
    	right: -100px
    60% 
    	right: -120px
    70% 
    	right: -140px
    80% 
    	right: -160px
    80% 
    	right: -180px
    100% 
    	right: -200px
@keyframes close-menu 
    0% 
    	right:  0px
    10% 
    	right: -20px
    20% 
    	right: -40px
    30% 
    	right: -60px
    40% 
    	right: -80px
    50% 
    	right: -100px
    60% 
    	right: -120px
    70% 
    	right: -140px
    80% 
    	right: -160px
    80% 
    	right: -180px
    100% 
    	right: -200px
.header-flex
	display:flex
	height: 100%
	top: 178px
	position: relative
.header-flex h1
    color: #f9f9f9
.header-flex p
    margin-top: 14px
    max-width: 470px
    letter-spacing: 0.5px
    font-size: 20px
.flex-cloud
	display:flex
	height: 100%
	top: 340px
	position: relative
.composition-cloud
    padding: 0 30px
    p
        color: #333
.flex-cloud h1
    font-size: 2.8em
.composition
	font-family: Display-Light
	position: relative
	text-align: left;
	color: #fff
	line-height: 1.50
.composition-cloud
	font-family: Display-Light
	color: #000
    position: relative
	line-height: 1.25
	h1
		color: #74819e
.composition-cloud p
    font-size: 24px
.cloud
    min-height: 1250px
    margin-top: -238px
    margin-bottom: -242px
    z-index: 2
.we-specilise
	color: #000
	margin-top: 365px
	text-align: center
	img
		width: 170px
.we-specilise, .flex-cloud
    opacity: 0
.we-specilise p
    margin-top: 6px
    font-size: 21px;
    font-family: Segoeui-ligth 
.earth
	position: relative
	min-height: 700px
	bottom: 0
	background-position: 50% !important
	margin-top: -555px
	z-index: 1
.aus-flex .composition, .isr-flex .composition, .brz-flex .composition, .usa-flex .composition, .houston-flex .composition
	width: 8%
	border-radius: 100%
	text-align: center
	background: rgba(159, 198, 215, 0.7)
	padding: 0 1.5%
	div
		width: 63%
		height: 63%
		background-color: #fff
		border-radius: 100%
		position: inherit
		margin: 18% auto
		padding: 9% 0;
		color: #000
		font-family: Segoeui
		font-size: 11px
		opacity: 1
		line-height: 0
		img
			width:  41%
		p
			margin-top: 9px
canvas
    position: absolute
#bezier-aus 
    left: 57%
    top: 26%
    width: 23%
    height: 41%
#bezier-usa
    color: $blue
    left: 13%
    top: 24%
    width: 42%
    height: 41%
.earth .composition
    position: absolute
    opacity: 0
.show-composition
    left: 52%
    top: 23%
    -webkit-animation: show-composition 0.5s linear forwards
    animation: show-composition 0.5s linear forwards
@keyframes show-composition
    25%
        opacity: 0.2
    50%
        opacity: 0.4
    75%
        opacity: 0.6
    100%
        opacity: 1 
@webkit-keyframes show-composition
    25%
        opacity: 0.2
    50%
        opacity: 0.4
    75%
        opacity: 0.6
    100%
        opacity: 1
.houston-flex .composition
	left: 52%
	top: 23%
	div
		font-size: 10px
.usa-flex .composition
	left: 15%
	top: 27%
.isr-flex .composition
	left: 53%
	top: 42%
.brz-flex .composition
	left: 28%
	top: 55%
.aus-flex .composition
	left: 77%;
	top: 58%
.houston-flex
	left: 0
.flex-slider
    position: relative
    top: 248px
    left: -28px
.slider
	min-height: 605px
.slider .composition
    text-align: right
.how-we-work
	font-size: 3em
#my-footer
	min-height: 440px
	background-color: #545555
.section-footer    
	margin-left: 75px
	top: 115px
	position: relative
	div
		color: #fff
	.logo-footer-wrapp
		img
		max-width: 260px
		height: auto
		margin-right: 6.3%
		margin-bottom: none
.section-footer .logo-footer-wrapp
    margin-left: 0
.footer__pages
	div
		margin-left: 0
		padding: 0
		li
			font-family: Display-Light
            color: $blue
			font-size: 16px
			padding: 2px 0
	.footer__pages-title
		border-bottom: 2px solid $blue
		font-family: Display-Light
		font-size: 21px
		padding-bottom: 10px
		margin-top: 2px 
		margin-bottom: 28px		
.footer__pages
    width: 390px
    margin-left: 40px
.footer__pages .foo_righ
    margin-left: -20px

.footer__contact-title, .footer__social-title
	border-bottom: 2px solid #a9e8f9
	font-family: Display-Light
	font-size: 18px
	padding-bottom: 12px
	margin-top: 0px 
	font-size: 21px
	margin-bottom: 28px
.footer__contact
    padding-left: 4px
    width: 190px
.footer__social
    padding-left: 4px
    width: 190px
.footer__contact
	div
		margin-left: 35px
        width: 40px
		height: 40px
		text-align: center
		margin-left: 0
		margin-right: 10px
		border-radius: 5px
		display: inline-block
		img
			width: 34px
.footer__social
    div
        border: 1.5px solid #979898
        width: 32px
        height: 32px
        text-align: center
        margin-left: 0
        margin-right: 10px
        border-radius: 5px
        display: inline-block
        padding: 2px
        img
            width: 17px

.smutch
	background-image: linear-gradient(to right, #4c4c4c 50%, rgba(255,255,255,0) 0%);
	background-size: 90px 15px;
	background-repeat: repeat-x;
	height: 15px	
#flex-cloud, #we-specilise
    -webkit-animation: cloud 0.5s linear forwards
    animation: cloud 0.5s linear forwards
@keyframes cloud
    25%
        opacity: 0.2
    50%
        opacity: 0.4
    75%
        opacity: 0.6
    100%
        opacity: 1
@webkit-keyframes cloud
    25%
        opacity: 0.2
    50%
        opacity: 0.4
    75%
        opacity: 0.6
    100%
        opacity: 1


#my-footer .section-footer
    left: 0
    top: 0
    margin: 0
    
.logo img
.humburger
    padding: 76px 75px
.slider-flex .row
    margin-left: 0
    margin-right: 0
.section-footer .logo-footer-wrapp
    bottom: 0
.hidden-media
    display: none
.line-aus
    position: absolute
    width: 44%
    height: 45%
    left: 49%
    top: 24%
    opacity: 0
    background: url(../img/line/aus.svg)
.path-aus
    -webkit-animation: path-aus-animation 3s linear forwards
    animation: path-aus-animation 3s linear forwards
@-webkit-keyframes path-aus-animation 
    25%
        opacity: 0.2
    50%
        opacity: 0.4
    75%
        opacity: 0.6
    100%
        opacity: 1
@keyframes path-aus-animation 
    25%
        opacity: 0.2
    50%
        opacity: 0.4
    75%
        opacity: 0.6
    100%
        opacity: 1
.line-usa
    position: absolute
    width: 44%
    height: 50%
    left: 16%
    top: 10%
    opacity: 0
    background: url(../img/line/usa.svg)
.path-usa
    -webkit-animation: path-usa-animation 3s linear forwards
    animation: path-usa-animation 3s linear forwards
@-webkit-keyframes path-usa-animation 
    25%
        opacity: 0.2
    50%
        opacity: 0.4
    75%
        opacity: 0.6
    100%
        opacity: 1
@keyframes path-usa-animation 
    25%
        opacity: 0.2
    50%
        opacity: 0.4
    75%
        opacity: 0.6
    100%
        opacity: 1
.line-bzr
    position: absolute
    width: 44%
    height: 50%
    left: 22%
    top: 22%
    opacity: 0
    background: url(../img/line/bzr.svg)
.path-bzr
    -webkit-animation: path-bzr-animation 3s linear forwards
    animation: path-bzr-animation 3s linear forwards
@-webkit-keyframes path-bzr-animation 
    25%
        opacity: 0.2
    50%
        opacity: 0.4
    75%
        opacity: 0.6
    100%
        opacity: 1
@keyframes path-bzr-animation 
    25%
        opacity: 0.2
    50%
        opacity: 0.4
    75%
        opacity: 0.6
    100%
        opacity: 1
.line-isr
    position: absolute
    width: 50%
    height: 50%
    left: 34%
    top: 14%
    opacity: 0
    background: url(../img/line/isr.svg)
.path-isr
    -webkit-animation: path-isr-animation 3s linear forwards
    animation: path-isr-animation 3s linear forwards
@-webkit-keyframes path-isr-animation 
    25%
        opacity: 0.2
    50%
        opacity: 0.4
    75%
        opacity: 0.6
    100%
        opacity: 1
@keyframes path-isr-animation 
    25%
        opacity: 0.2
    50%
        opacity: 0.4
    75%
        opacity: 0.6
    100%
        opacity: 1

.is-about-us .site-header
    min-height: 597px
    height: 100vh
    background-color: #000
    background-position: center center
    z-index: 0
    .top-line
        position: absolute
        padding-top: 27px
        width: 100%
        z-index: 1
        .logo
            img
                width: 235px
                height: auto
                margin-left: 90px
.become
    min-height: 698px
    text-align: center
    background-color: #f8f8f8
    height: 100vh
.basic-principles
    background-color: #f8f8f8
    min-height: 597px
    text-align: center
.header-flex-about
    display:flex
    height: 100%
    top: 178px
    position: relative
    .composition
        left: 3%
        line-height: 1.45
.header-flex-about h1
    color: #f9f9f9
.header-flex-about p
    margin-top: 14px
    max-width: 600px
    letter-spacing: 0.5px
    font-size: 20px
.about-img
    position: absolute
    max-height: 27%
    max-width: 27%
.img-top
    top: 25%
    left: 70%
.img-left
    top: 36%
    left: 50%
.img-bottom
    top: 57%
    left: 64%
.header-flex-become
    height: 100%
    top: 88px
    position: relative
    h1
        color: #74819e
    p
        color: #333;
        margin-top: 26px
        letter-spacing: 0.5px
        font-size: 20px
        font-family: Display-Light
        text-align: left
        line-height: 1.35
        padding: 0 7%
.composition-become
    max-width: 48%
    margin: 0 auto
.basic-principles
    padding-top: 6%
.header-flex-principles
    position: relative
    top: 3%
    .composition-principles
    h1
        color: #74819e
.principles-container
    padding: 19px 0
    .row
        margin: 3% 0
        img
            width: 55%
        h2
            font-size: 2.5em
            color: #74819e
            text-align: left
        p
            color: #333
            letter-spacing: 0.5px
            font-size: 20px
            font-family: Display-Light
            text-align: left
            line-height: 1.35
            max-width: 870px
.wrapp-composition-left, .wrapp-composition-right
    position: relative
    right: 5%
.principles-container .composition-right
    position: relative
    left: 35%
canvas
    top: 0
    left: 0
    position: absolute
    background: #fff

    